<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Thank You</title>
</head>
<body>
    <header>
        <h1>Thank You!</h1>
    </header>
    <main>
        <p>Thank you for using our service. Your request is being processed!</p>
    </main>
    <footer>
        <p>&copy; 2023 YouTube Converter</p>
    </footer>
</body>
</html>